html, body{
    margin:0;
    padding:0;
    height: 100%;
}
  
html {
scroll-behavior:smooth;
background-color: #06070B;
}


h1 {
    font-family: Koulen;
    font-size: 700%;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 100%; /* reduces the leading that was being annoying */
}
  
h2 {
    font-family: Koulen;
    font-size: 400%;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 100%; /* reduces the leading that was being annoying */
}


p {
    font-family: Inter;
    color: white;
    font-size: 100%;
    line-height: 130%;
    padding: 0;
    margin: 0;
}

.container {
    width: 60%;
    border: white 0px solid;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
  
.parent-container{
    min-height:100%;
    min-width:100%;
    text-align: center;
}


.underline-animation {
    display: inline-block;
    position: relative;
}
  
.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.25px;
    top: 140%;
    bottom: 0;
    left: 0;
    background-color: #E9EAE8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    font-family: Inter;
    font-size: 100%;
    line-height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

#green-text {
    color:#92DC58
  }
