html, body{
  margin:0;
  padding:0;
}
.container {
  width: 60%;
  border: white 1px solid;
  padding: 10px;
  display: inline-block; /* impacts the alignment within the parent*/
  overflow: hidden;
}

.center{
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
  align-items: left;
}

h1 {
  font-family: Koulen;
  font-size: 700%;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 100%; /* reduces the leading that was being annoying */
}

h2 {
  font-family: Koulen;
  font-size: 400%;
  color: #06070B;
  padding: 0;
  margin: 0;
  line-height: 100%; /* reduces the leading that was being annoying */
}


.wage {
  transform: translateX(-5%);
}

.gauge {
  transform: translateX(3%);
}

button {
  font-family: Inter;
  text-align: center;
  font-size: 100%;
  color: #06070B;
  background-color: #E9EAE8;
  line-height: 100%;
  padding: 10px 15px 10px 15px;
  border: 0;
  margin-top: 30px;
}

.green {
  background-color: #92DC58;
}

.offwhite {
  color: #E9EAE8;
}

.black {
  color:  #06070B;
}

p {
  font-family: Inter;
  font-size: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

mark {
  transform: translate(-50px,-50px);
}


#section-1 {
  text-align: center;
  background-color: #06070B;
  min-width: 100%;
  margin: 0;
  padding: 7% 0 7% 0;
}

#section-2 {
  text-align: center;
  background-color: #E9EAE8;
  min-width: 100%;
  margin: 0;
  padding: 2% 0 2% 0;
}
