html, body{
  margin:0;
  padding:0;
  height: 100%;
}

html {
  scroll-behavior:smooth;
}

.container {
  width: 80%;
  border: white 0px solid;
  padding: 10px;
  display: inline-block; /* impacts the alignment within the parent*/
}

.question-container {
  width: 50%;
  border: white 0px solid;
  padding: 10px;
  display: inline-block; /* impacts the alignment within the parent*/
}

#section-1 {
  text-align: center;
  background-color: #06070B;
  min-width: 100%;
  margin: 0;
  padding: 10% 0 10% 0;
}

#section-2 {
  text-align: center;
  background-color: #E9EAE8;
  min-width: 100%;
  margin: 0;
  padding: 2% 0 2% 0;
}

#footer{
  text-align: center;
  background-color: #06070B;
  min-width: 100%;
  margin: 0;
  padding: 2% 0 2% 0;
}

#header {
  padding: 3% 0 0 0;
}

#all-black-section{
  text-align: center;
  background-color: #06070B;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.vcenter{
  position: relative;
  top: -50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  border: red 0px solid;
}

.center{
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
  align-items: left;
}

h1 {
  font-family: Koulen;
  font-size: 700%;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 100%; /* reduces the leading that was being annoying */
}

h2 {
  font-family: Koulen;
  font-size: 400%;
  color: #06070B;
  padding: 0;
  margin: 0;
  line-height: 100%; /* reduces the leading that was being annoying */
}

h3 {
  font-family: Koulen;
  font-size: 250%;
  color: #ffffff;
  padding: 0;
  margin: 0;
  line-height: 100%; /* reduces the leading that was being annoying */
}


h4 {
  font-family: Inter;
  font-weight: 500;
  font-size: 300%;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

p {
  font-family: Inter;
  font-size: 100%;
  line-height: 130%;
  padding: 0;
  margin: 0;
}

a {
  font-family: Inter;
  font-size: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
}


.btn {
  cursor: pointer;
  font-family: Inter;
  text-align: center;
  font-size: 100%;
  color: #06070B;
  background-color: #E9EAE8;
  border: #E9EAE8 1px solid;
  line-height: 100%;
  padding: 10px 15px 10px 15px;
  border: 0;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  transition: 75ms ease-in-out;
}

.btn.quiz {
  margin: 20px 10px 20px 10px;
}

.btn.quiz:hover{
  background-color: #92DC58;
}





.big-arrow {
  display: inline-block;
  margin-top: 50px;
  transition: 200ms ease-in-out;
}

.big-arrow:hover {
  display: inline-block;
  margin-top: 50px;
  transform: translateY(8%);
}

#wage {
  transform: translateX(-5%);
}

#gauge {
  transform: translateX(3%);
}

#green {
  background-color: #92DC58;
  border: #92DC58 1px solid;
}

#green-text {
  color:#92DC58
}

#green:hover {
  background-color: #06070B;
  border: #E9EAE8 1px solid;
  color: #E9EAE8;
}

#offwhite {
  color: #E9EAE8;
  text-decoration: none;
}

#black {
  color:  #06070B;
}

/* text highlighter inspired by https://codepen.io/alvarotrigo/pen/rNpaBJJ */

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 50%;
  width: 90%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #92DC58;
  top: 20px;
  padding: 10px 3px 3px 10px;
}


/* YT video container via https://silvercircle.subspace.cc/webdev/css/embed-youtube-any-size-and-correct-aspect/ */

div.ytcontainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

iframe.ytframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* footer management */

.social-links {
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 150%;
  line-height: 100%;
  text-align: right;
  color: #E9EAE8;
}


.footer-link {
  font-family: Inter;
  font-size:100%;
  line-height: 80%;
  text-align: left;
  color: #E9EAE8;
  display: inline-block;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.25px;
  top: 140%;
  bottom: 0;
  left: 0;
  background-color: #E9EAE8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

a.fab:focus, a.fab:active, a.fab:visited, a.fab:link { 
  text-decoration: none;
  color: #E9EAE8;
}

a.footer-link:focus, a.footer-link:active, a.footer-link:visited, a.footer-link:link { 
  text-decoration: none;
  color: #E9EAE8;
}

.flex-split {
  display: inline-flex;
  border: red 0px solid;
  justify-content: space-between;
}

.flex-triplet {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-basis: auto;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
}

.flex-triplet-child {
  flex-grow: 1;
  margin: 0 3% 0 3%;
  min-width: 100px;
}

img {
  height: auto;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition: filter 150ms ease-in-out;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}